body{
    background-color: #F9F9F9;
}

/*LOGO*/
.logosanens{
    width: 100%;
    height: auto;
}

/* Estilos responsivos */
@media (max-width: 760px) {
    .logosanens {
        width: 50%;
        height: auto; /* Disminuir tamaño del logo en pantallas pequeñas */
    }
}

/*BARRA NAVEGACION*/
.fixed-top{
    background-color: rgba(249, 249, 249, 0.60);
}

.navbar-light .navbar-nav .nav-link {
    color: #023C4F;
}
  
.navbar.scrolled {
    background-color: #F9F9F9; /* Cambiar aquí el color de fondo deseado */
    transition: background-color 0.3s ease-in-out;
}

.navbar-nav{
    align-items: center;
    padding-left: 20%;
}

.btn-info {
    background-color: #00BED6;
    border-color: #00BED6;
    border-radius: 2rem;
}

#soymedico{
    color: #F9F9F9;
}

#tit-ban-serv{
    color: #F9F9F9;
}

/* Estilo para el navbar con fondo cuando el toggle está activo */
.navbar-collapse.show {
    background-color: #F9F9F9; /* Cambia #ffffff por el color de fondo deseado */
    border-radius: 2rem;
    padding: 2%;
    align-content: center;
}

.navbar-light .navbar-toggler {
    background-color: #00BED6;
}

/*CAROUSEL PORTADA*/
.carousel-item{
    filter: brightness(0.8);
}

/* Estilo para el texto encima de las imágenes */
.carousel-caption {
    position: absolute;
    top: 50%; /* Coloca el texto en el centro vertical */
    transform: translateY(-50%); /* Ajusta para centrarlo exactamente */
    color: #5d5c60; /* Color del texto */
    /*background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px; /* Espacio interior del texto */
    width: 40%; /* Ancho completo del contenedor */
    left: 10%;
  }

/* Estilo para el título dentro del texto */
.carousel-caption h5 {
    font-size: 2.5rem; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita opcional */
}

/* Estilo para la descripción dentro del texto */
.carousel-caption p {
    font-size: 2rem; /* Tamaño de fuente de la descripción */
}

/* Estilos responsivos */
@media (max-width: 900px) {
    .carousel-caption h5 {
        font-size: 1.5rem; /* Disminuir tamaño de fuente del título en pantallas pequeñas */
    }
    .carousel-caption p {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

/* Estilos responsivos */
@media (max-width: 760px) {
    .carousel-caption h5 {
        font-size: 1.5rem; /* Disminuir tamaño de fuente del título en pantallas pequeñas */
    }
    .carousel-caption p {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

/* Estilos responsivos */
@media (max-width: 480px) {
    .carousel-caption h5 {
        font-size: 1rem; /* Disminuir tamaño de fuente del título en pantallas pequeñas */
    }
    .carousel-caption p {
        font-size: 0.5rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

/* Estilos responsivos pantalla mínima visualización*/
@media (min-width: 320px) {
    .d-md-block {
        display: block !important;
    }
}

/*SERVICIOS*/

#title-servi{
    text-align: center;
    color: #023C4F;
    /*background-color: #96D3E3;*/
    background-color: #F9F9F9;
    padding: 2% 2% 5% 2%;
}

#servi{
    font-weight: bold;
}

/* Estilos responsivos */
@media (max-width: 480px) {
    #title-servi h3{
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

#group-serv-row1, #group-serv-row2, #group-serv-row3, #group-serv-row4, #group-serv-row5{
    text-align: center;
    background-color: #F9F9F9;
}

#card-serv1, #card-serv2, #card-serv3, #card-serv4, #card-serv5,
#card-serv6, #card-serv7, #card-serv8, #card-serv9, #card-serv10{
    border-radius: 2rem;
    border: 0;
    background-color: #F9F9F9;
}

#card-serv1, #card-serv2{
    margin: 5% 1% 1% 1%;
}

#card-serv3, #card-serv4, #card-serv5, #card-serv6,
#card-serv7, #card-serv8, #card-serv9, #card-serv10{
    margin: 1%;
}

#card-serv1 :hover, #card-serv2 :hover, #card-serv3 :hover, #card-serv4 :hover, #card-serv5 :hover
#card-serv6 :hover, #card-serv7 :hover, #card-serv8 :hover, #card-serv9 :hover, #card-serv10 :hover{
    border-radius: 2rem;
    border: 0;
}

#serv1, #serv2, #serv3, #serv4, #serv5,
#serv6, #serv7, #serv8, #serv9, #serv10{
    position: relative;
    width:60%;
    left: 40%;
    margin: 0%;
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    border: 0;
}

#serv1:hover, #serv2:hover, #serv3:hover, #serv4:hover, #serv5:hover,
#serv6:hover, #serv7:hover, #serv8:hover, #serv9:hover, #serv10:hover{
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
}

/*#ct-serv1, #ct-serv2, #ct-serv3, #ct-serv4{
    margin: 5%;
}*/

#serv-comed, #serv-dimag, #serv-lacli, #serv-farm{
    background-color: #03789D;
    position: relative;
    width: 30%;
    padding: 5%;
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    transform: translate(-70%, -200%);
    box-shadow: 1rem 1rem 1rem 0.20rem rgba(0, 90, 118, 0.25);
}

#title-servf{
    width: 80%;
    height: auto;
    padding: 5%;
    text-align: justify;
    background-color: #96D3E3;
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    transform: translate(5%, -120%);
    box-shadow: 1rem 1rem 1rem 0.20rem rgba(0, 90, 118, 0.25);
}

/* Estilos responsivos*/
@media (max-width: 1280px) {
    #title-servf {
        transform: translate(5%, -105%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 1280px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.8rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 1024px) {
    #title-servf {
        transform: translate(5%, -80%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 1024px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.8rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 920px) {
    #title-servf {
        transform: translate(5%, -65%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 920px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.8rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 860px) {
    #title-servf {
        transform: translate(5%, -65%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 860px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.8rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 800px) {
    #title-servf {
        transform: translate(5%, -60%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 800px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.8rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 720px) {
    #title-servf {
        transform: translate(5%, -50%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 720px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.8rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 540px) {
    #title-servf {
        transform: translate(5%, -90%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 540px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 1rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.8rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    #title-servf {
        transform: translate(5%, -90%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 0.9rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.7rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 400px) {
    #title-servf {
        transform: translate(5%, -80%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 400px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 0.8rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.6rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 360px) {
    #title-servf {
        transform: translate(5%, -80%); /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

@media (max-width: 360px) {
    #title-servf h3, #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 0.75rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }

    #title-servf p, .nav-item, #propiedad {
        font-size: 0.55rem; /* Disminuir tamaño de fuente de la descripción en pantallas pequeñas */
    }
}

/* FOOTER */
#ft1-h5, #ft2-h5, #ft3-h5 {
    color: #023C4F;
    text-decoration: none;
}

#ft1-l1, #ft1-l2, #ft1-l3, #ft1-l4, 
#ft2-l1, #ft2-l2, #ft2-l3, #ft2-l4
, #ft3-l1, #ft3-l2, #ft3-l3 {
    color: #03789D;
    text-decoration: none;
}

#ft1-l1:hover, #ft1-l2:hover, #ft1-l3:hover, #ft1-l4:hover, 
#ft2-l1:hover, #ft2-l2:hover, #ft2-l3:hover, #ft2-l4:hover
, #ft3-l1:hover, #ft3-l2:hover, #ft3-l3:hover {
    color: #00BED6;
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: #023C4F !important;
}

.footer-logo {
    max-width: 80%;
    height: auto;
}

@media (min-width: 768px) {
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.border-top {
    border-top: 1px solid #023C4F !important;
}

#propiedad{
    color: #005A76;
}