/*LOGO*/
.logosanens{
    width: 100%;
    height: auto;
}

/*BARRA NAVEGACION*/
.fixed-top{
    background-color: rgba(249, 249, 249, 0.60);
}

.navbar-light .navbar-nav .nav-link {
    color: #023C4F;
}
  
.navbar.scrolled {
    background-color: #F9F9F9; /* Cambiar aquí el color de fondo deseado */
    transition: background-color 0.3s ease-in-out;
}

.navbar-nav{
    align-items: center;
    padding-left: 20%;
}

.btn-info {
    background-color: #00BED6;
    border-color: #00BED6;
    border-radius: 2rem;
}

#soymedico{
    color: #F9F9F9;
}

/*SERVICIOS*/
#title-servi{
    text-align: center;
    color: #5D5C60;
    background-color: #96D3E3;
    padding: 2%;
}

#servi{
    font-weight: bold;
    font-size: 300%;
}

#group-serv {
    text-align: center;
    color: #F9F9F9;
    /*background: linear-gradient(#F9F9F9, #96D3E3);*/
    background-color: #96D3E3;
}

#card-serv1, #card-serv2, #card-serv3, #card-serv4{
    margin: 1%;
    border-radius: 2rem;
    border: 0;
    box-shadow: 1rem 1rem 0.35rem rgba(0, 90, 118, 0.25);
}

#card-serv1 :hover, #card-serv2 :hover, #card-serv3 :hover, #card-serv4 :hover{
    border-radius: 2rem;
    border: 0;
}

#cb-serv1, #cb-serv2, #cb-serv3, #cb-serv4{
    background-color: #5D5C60;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    border: 0;
}

#cb-serv1:hover, #cb-serv2:hover, #cb-serv3:hover, #cb-serv4:hover{
    background-color: #68A6B5;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    border: 0;
}

#serv1, #serv2, #serv3, #serv4{
    margin: 0%;
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
    border-bottom-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
    border: 0;
}

#serv1:hover, #serv2:hover, #serv3:hover, #serv4:hover{
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
    border-bottom-left-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}

#ct-serv1, #ct-serv2, #ct-serv3, #ct-serv4{
    margin: 10%;
}

#serv-comed, #serv-dimag, #serv-lacli, #serv-farm{
    width: 30%;
}

#title-servf{
    text-align: center;
    margin: 1%;
    padding: 1%;
}

#servf{
    color: #F9F9F9;
    background-color: #5D5C60;
    padding: 1.2%;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 0.35rem rgba(0, 90, 118, 0.25);
}

#servf:hover{
    color: #F9F9F9;
    background-color: #9E9DA0;
    padding: 1.2%;
    border-radius: 3rem;
}