/* Estilos genericos responsivos pantalla mínima visualización*/
@media (min-width: 320px) {
    .d-md-block {
        display: block !important;
    }

}

/* Estilos genericos responsivos pantalla máxima visualización*/
@media (max-width: 700px) {
    /*inicio servicios*/
    #servi{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #card-serv1 {
        margin: 5% 5% 5% 5%;
        border-radius: 2rem;
        border: 0;
        box-shadow: 1rem 1rem 0.35rem rgba(0, 90, 118, 0.25);
    }

    #card-serv2, #card-serv3, #card-serv4{
        margin: 5%;
        border-radius: 2rem;
        border: 0;
        box-shadow: 1rem 1rem 0.35rem rgba(0, 90, 118, 0.25);
    }
    
    #serv-comed, #serv-dimag, #serv-lacli, #serv-farm{
        width: 40%;
    }
    
    #title-servf{
        text-align: center;
        margin: 1% 0% 10% 0%;
        padding: 1%;
    }

    #group-serv-row1, #group-serv-row2, #group-serv-row3, #group-serv-row4, #group-serv-row5{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /*fin servicios*/

    /*inicio footer*/
    #footer{
        padding: 0% 7% 0% 10%;    
    }

    #col-logo {
        max-width: 50%;
    }

    #col-footer1, #col-footer2, #col-footer3{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-logo {
        max-width: 80%;
        height: auto;
    }
    /*fin footer*/

}

/* Estilos fuentes responsivos pantalla máxima visualización*/
@media (min-width: 321px) and (max-width: 360px) {

    /*logo*/
    .logosanens{
        width: 40%;
        height: auto;
    }

    /*inicio servicios*/
    #servi{
        font-size: 180%;
    }

    #ct-serv1, #ct-serv2, #ct-serv3, #ct-serv4,
    #ct-serv5, #ct-serv6, #ct-serv7, #ct-serv8,
    #ct-serv9, #ct-serv10{
        font-size: 150%;
    }

    #title-servf p{
        font-size: 100%;
    }
    /*fin servicios*/

    /*inicio footer*/
    #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 100%;
    }

    #ft1-l1, #ft1-l2, #ft1-l3, #ft1-l4, 
    #ft2-l1, #ft2-l2, #ft2-l3, #ft2-l4
    , #ft3-l1, #ft3-l2, #ft3-l3 {
        font-size:60%;
    }

    #ft1-l1:hover, #ft1-l2:hover, #ft1-l3:hover, #ft1-l4:hover, 
    #ft2-l1:hover, #ft2-l2:hover, #ft2-l3:hover, #ft2-l4:hover
    , #ft3-l1:hover, #ft3-l2:hover, #ft3-l3:hover {
        font-size: 75%;
    }

    #propiedad{
        font-size: 60%;
    }
    /*fin footer*/

}

/* Estilos fuentes responsivos pantalla máxima visualización*/
@media (min-width:361px) and (max-width: 450px) {

    /*logo*/
    .logosanens{
        width: 40%;
        height: auto;
    }

    /*inicio servicios*/
    #servi{
        font-size: 200%;
    }

    #ct-serv1, #ct-serv2, #ct-serv3, #ct-serv4,
    #ct-serv5, #ct-serv6, #ct-serv7, #ct-serv8,
    #ct-serv9, #ct-serv10{
        font-size: 170%;
    }

    #title-servf p{
        font-size: 120%;
    }
    /*fin servicios*/

    /*inicio footer*/
    #ft1-h5, #ft2-h5, #ft3-h5 {
        font-size: 100%;
    }

    #ft1-l1, #ft1-l2, #ft1-l3, #ft1-l4, 
    #ft2-l1, #ft2-l2, #ft2-l3, #ft2-l4
    , #ft3-l1, #ft3-l2, #ft3-l3 {
        font-size:80%;
    }

    #ft1-l1:hover, #ft1-l2:hover, #ft1-l3:hover, #ft1-l4:hover, 
    #ft2-l1:hover, #ft2-l2:hover, #ft2-l3:hover, #ft2-l4:hover
    , #ft3-l1:hover, #ft3-l2:hover, #ft3-l3:hover {
        font-size: 95%;
    }

    #propiedad{
        font-size: 60%;
    }
    /*fin footer*/

}